* {
  box-sizing: border-box;  
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.heading-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.refresh-btn,
.scoreboard-title {
  display: inline-block;
}

.refresh-btn {
  margin: auto 1rem;
  border: 2px solid black;
  outline: none;
  background: none;
  box-shadow: 4px 4px 0px 0px rgb(0 0 0);
  padding: 0.25rem 1rem;
}

.scoreboard-title {
  margin: auto 0;
}

.score-list-item {
  list-style-type: none;
  text-decoration: none;
}

.scoreboard {
  border: black solid 0.2rem;
  background: lightskyblue;
}

.scoreboard li:nth-child(even) {
  background: antiquewhite;
}

.score-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
}

.score-name,
.score-points {
  display: inline;
}

.score-name {
  text-transform: capitalize;
}

.score-name::after {
  content: ':';
}

.score-points::before {
  content: ' ';
  margin: 0 0.5rem;
}
